Importar Librerias

In [1]:
# gestión de datos
import numpy as np
import pandas as pd

# fechas
import datetime as dt
from datetime import datetime
from dateutil.relativedelta import relativedelta

# gráficos
import seaborn as sns
import matplotlib.pyplot as plt
import jinja2

# preprocessing
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import StandardScaler

from sklearn.model_selection import train_test_split

# modelos
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet, SGDRegressor
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from xgboost import XGBRegressor
from catboost import CatBoostRegressor

# metricas
import sklearn.metrics as metrics

# interpretabilidad
import shap

# hiperparametrizado
from sklearn.model_selection import GridSearchCV

# quitar alertas
import warnings
warnings.filterwarnings("ignore")

c:\Users\rafas\AppData\Local\Programs\Python\Python310\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
df = pd.read_csv('./DATA/pedidos_entrenar.csv')
df_pred = pd.read_csv("./DATA/pedidos_predecir.csv")

In [6]:
df.head(1)

,order_id,local_time,country_code,store_address,payment_status,n_of_products,products_total,final_status
0,33446280,14:11:09,AR,55379,PAID,2,11.88,DeliveredStatus

In [9]:
df["payment_status"].value_counts()

payment_status
PAID        53854
NOT_PAID      470
DELAYED         6
Name: count, dtype: int64

In [13]:
for i in df:
    print("Value_counts",df[i].value_counts(),"\n")
    print("Unique",df[i].unique(),"\n")

Value_counts order_id
33446280    1
32766208    1
32869927    1
32137313    1
32609872    1
           ..
32363605    1
33439367    1
32773775    1
32655367    1
32695191    1
Name: count, Length: 54330, dtype: int64

Unique [33446280 33107339 32960645 ... 32895248 32792276 32695191]

Value_counts local_time
09:03:01    38
10:03:06    31
10:03:05    26
10:03:01    25
10:03:02    24
            ..
18:16:53     1
21:36:02     1
11:42:25     1
09:42:03     1
12:21:30     1
Name: count, Length: 32905, dtype: int64

Unique ['14:11:09' '11:47:41' '11:53:53' ... '23:12:31' '13:24:05' '12:21:30']

Value_counts country_code
AR    11854
ES    11554
TR     5696
PE     4284
UA     3729
IT     2537
EC     2265
RO     1957
FR     1911
EG     1643
MA     1446
CR     1000
CL      994
PA      909
PT      818
GT      511
GE      485
DO      448
UY      169
KE       84
PR       29
CI        6
BR        1
Name: count, dtype: int64

Unique ['AR' 'GT' 'CR' 'ES' 'PE' 'PA' 'FR' 'IT' 'TR' 'EC' 'RO' 'KE' 'UA' 'PT'
 'DO' 'GE' 'MA' 'PR' 'CL' 'EG' 'UY' 'CI' 'BR']

Value_counts store_address
28671    455
12513    245
28675    228
14455    227
28712    221
        ...
46535      1
49167      1
65082      1
5585       1
72353      1
Name: count, Length: 5627, dtype: int64

Unique [55379 23487 62229 ... 69642 61330 72353]

Value_counts payment_status
PAID        53854
NOT_PAID      470
DELAYED         6
Name: count, dtype: int64

Unique ['PAID' 'NOT_PAID' 'DELAYED']

Value_counts n_of_products
1     19801
2     13515
3      7674
4      4280
5      2650
6      1867
7      1292
8       996
9       712
10      574
11      357
12      220
13      151
14       97
15       46
16       27
17       23
19       14
18       10
20       10
22        7
21        2
38        1
26        1
24        1
27        1
39        1
Name: count, dtype: int64

Unique [ 2  1  6  3  5  7  9  4 12 11 21  8 13 10 15 14 19 20 17 26 16 18 38 22
 24 27 39]

Value_counts products_total
4.30     183
4.75     168
6.00     157
3.60     150
5.30     149
        ...
33.72      1
46.10      1
29.71      1
38.33      1
30.97      1
Name: count, Length: 3904, dtype: int64

Unique [11.88  5.2   6.03 ... 42.95 34.08 30.97]

Value_counts final_status
DeliveredStatus    48498
CanceledStatus      5832
Name: count, dtype: int64

Unique ['DeliveredStatus' 'CanceledStatus']

In [14]:
df.isnull().sum()

order_id          0
local_time        0
country_code      0
store_address     0
payment_status    0
n_of_products     0
products_total    0
final_status      0
dtype: int64

In [ ]:
tdf_pred.isnull().sum()

order_id          0
local_time        0
country_code      0
store_address     0
payment_status    0
n_of_products     0
products_total    0
dtype: int64

In [22]:
df.duplicated().sum()

0

In [25]:
df_pred.duplicated().sum()

0

In [27]:
df["local_time"] = pd.to_datetime(df["local_time"])

In [28]:
df["hora_compra"] = df["local_time"].dt.hour

In [29]:
df_pred["local_time"] = pd.to_datetime(df_pred["local_time"])

In [30]:
df_pred["hora_compra"] = df_pred["local_time"].dt.hour